<div id="apprise-einstellungen">
    <div class="columns">


        <div class="column is-narrow">
            <h3 class="title is-3">Apprise</h3>
            <form hx-post="/htmx/apprise.html" hx-target="#apprise-einstellungen" hx-swap="outerHTML">
                <label class="label">{{index .TranslatedText 0}}</label>
                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" name="aktiv" {{if .Active}}checked{{end}}>
                            {{index .TranslatedText 0}}
                        </label>
                    </div>
                </div>

                <div class="field">
                    <label class="label">{{index .TranslatedText 1}}</label>
                    <div class="control">
                        <input class="input" type="text" name="appriseConfigID" placeholder="{{ .AppriseConfigID }}">
                    </div>
                </div>

                <div class="control">
                    <button class="button is-link">{{index .TranslatedText 3}}</button>
                </div>

                <br>
                {{ if .ShowStatus }}<span class="tag {{.Color}} is-normal">{{.StatusMessage}}</span>{{end}}

            </form>

        </div>

        <div class="column is-narrow">
            <ol>
                <li>{{index .TranslatedText 2}}</li>
            </ol>




        </div>



    </div>
</div>